// desktop
$heading1:3.8rem;
$heading2: 3.2rem;
$paragraph: 1.8rem;
$link: 1.6rem;
// colors
$header-text:#0D2F3F;
$clr-paragraph:#0D2F3F;
$clr-paragraph2: rgb(231, 82, 78);
$bg-sec-color: #f8f7f1;
$bg-sec-color2: #FEFEFE;
$bg-body: rgb(24, 23, 23);
$white : white;// =============================================s========================
// section margin by screen
// desktop
$margin-l: 5rem 10rem;
$margin-h: 1rem 10rem;
$margin-sec: 7rem 15rem;
$margin-m: 2rem 7rem;
$margin-s: 2rem 4rem;

// ?mixins
@mixin box-l() {
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

@mixin link2 {
    color: $clr-paragraph2;
                border-bottom: 1px solid $clr-paragraph2;
                transition: all 0.5s ease;
}
@mixin center() {
    margin: auto;
    display: grid;
    place-items: center;
}