@use '../sass/_color-text-mixins.scss'as *;


#experience {
    @include center();
    background-image: url(../img/experience.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 15rem;

    .experience-sec {
        margin: $margin-sec;

        h5 {
            margin: 0 auto;
        }

        h2 {
            text-align: center;
            margin-bottom: 3rem;
        }

        .experence-list {
            display: grid;
            grid-template-columns: 30rem 1fr;
            gap: 2rem;

            .esp1 {
                margin-top: 3rem;

                div {
                    margin-bottom: 6rem;
                }
            }

            .esp2 {

                position: relative;
                gap: 2rem;
                margin-top: 2rem;

                hr {
                    margin-block: 1rem;
                    border-color: $clr-paragraph;
                }

                .small-text {
                    display: none;
                }

                img {

                    height: 10rem;
                    width: 40rem;
                    left: 0;
                    position: absolute;
                    margin-bottom: 1rem;
                    animation: imgExp ease-in-out 2s infinite alternate;
                }

                @keyframes imgExp {
                    from {
                        opacity: 0.4;
                    }

                    to {
                        opacity: 1;
                    }
                }

                h3 {
                    padding-bottom: 1rem;
                }

                div:nth-child(n + 1) {
                    padding-bottom: 1.5rem;

                }
            }
        }
    }
}