@use '../sass/_color-text-mixins.scss'as *;

.logo a {
    font-family: 'Myfont3', cursive;
    font-size: 3rem;
    font-weight: bold;
    animation: colorChange ease-in-out 5s 1s infinite alternate;
}

@keyframes colorChange {
    0% {
        color: $header-text;

    }

    50% {
        color: $clr-paragraph2;
    }

    75% {
        color: #FF6600;
    }

    100% {
        color: #4353FF;
    }
}

#header {
    background-color: $bg-sec-color;
    background-image: url('../img/jerry4.png');
    height: 80rem;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center bottom;

    .header-sec {
        background-color: $bg-sec-color;
        width: 100%;
        padding: $margin-h;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 1000;
        top: 0;




        .navmenue {
            display: flex;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;

                a {
                    transition: all 0.5s ease;

                    &:hover, &:focus {
                        color: $clr-paragraph2;
                        border-bottom: 1px solid $clr-paragraph2;

                    }
                }

                .github {
                    background-color: black;
                    margin: 1rem;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    justify-content: center;
                    box-shadow: 0px 0px 10px 5px $clr-paragraph;
                    transition: all 0.5s ease;

                    a:hover {
                        border: none;
                    }
                }
            }
        }
    }

    .header-text {
        margin: $margin-l;

        .header-text-flex {
            display: flex;
            padding-top: 10rem;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: $header-text;
                font-size: 6rem;
                max-width: 38rem;
            }

            p {
                max-width: 30rem;
            }
        }

        .cta {
            background-color: $bg-body;
            padding: 1rem 1.5rem;
            width: fit-content;
            width: -moz-fit-content;
            margin-top: 2rem;
            transition: all 0.5s ease;
            box-shadow: 0px 0px 10px 2px $clr-paragraph;

            a {
                color: $white;
                font-size: 2rem;

            }

            &:hover {
                background-color: $clr-paragraph2;
            }
        }


        .mobile-img {
            display: none;
        }

        .exp-header {
            margin-top: 15rem;
            display: flex;
            justify-content: space-between;

            .exp-years {
                display: flex;
                justify-content: space-between;
                gap: 1em;
                align-items: center;

                h2 {
                    color: $header-text;
                    font-size: 6rem;
                }
            }

            .skillsimg {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                position: relative;
                top: -3rem;
                gap: 1rem;

                img {
                    width: 80px;

                }
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    span {
        display: inline-block;
        height: 4px;
        width: 30px;
        margin-block: 3px;
        background-color: $header-text;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    span:nth-child(1){
        width: 40px;
    }
    span:nth-child(2){
        margin-left: 10px;
    }
    span:nth-child(3){
        width: 20px;
        margin-left: 20px;
    }
}

/* Active link */
.active-link {
    color: $clr-paragraph2;
   
}

