        @use '../sass/_color-text-mixins.scss'as *;

        


  // landscape
  @media only screen and (min-width: 300px) and (max-width: 1000px){
    .active .bar:nth-child(2) {
        opacity: 0;
      }
      .active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(-315deg);
        transform: translateY(5px) rotate(-318deg);
        width: 62%;
        margin-left: 24px;
      }
      .active .bar:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-15px) rotate(-45deg);
        width: 62%;
      
      }
      #header .header-sec .navmenue ul {
        justify-content: flex-start;
        align-items: center;
       
      }
   
    .navmenue-ul {
        position: fixed;
        
        left: -100%;
        top: 7rem;
       backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: hsla(228, 5%, 19%, 0.891);
        text-align: center;
        transition: 0.3s ease-out;
        width: 100%;
        height: 100vh;
        padding-left: 0px;
        flex-direction: column;
        z-index: 200;
        &.show{
            left: 0;
        }
        a{
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    .menu {
        display: flex;
        z-index: 1000;
    }
  }

        // landscape
        @media only screen and (min-width: 1000px) and (max-width: 1200px) {

            body,
            p {
                font-size: 1.6rem;
            }

            h1 {
                font-size: $heading1;
            }

            h2 {
                font-size: 3.8rem;
            }

            h3 {
                font-size: 1.9rem
            }

            a {
                font-size: $link;
            }


            // header section
            #header {
                background-size: 42%;
                .header-sec{
                    padding: 2rem 10rem;
                }
            }

            // about section
            #about {
                .about-sec {
                    margin: 10rem 15rem;
                    .special{
                        position: relative;
                        top: -3rem;
                    }
                    .about-header{
                        position: relative;
                        top: -3rem;
                    }
                }
            }

            // experience section
            #experience {
                .experience-sec {
                    margin: $margin-sec-landscape;

                    .experence-list {
                        .esp2 {
                            img {
                                height: 40rem;
                            }
                        }
                    }
                }
            }

            // review
            .review-sec {
                padding: $margin-sec-landscape;

                .mySwiperJerry {

                    .next,
                    .prev {
                        // position: absolute;
                        width: 860px;
                    }
                }
            }


        }


        @media only screen and (min-width: 1110px) and (max-width: 1200px) {

            // experience section
            #experience {
                .experience-sec {
                    margin: $margin-sec-landscape;

                    .experence-list {
                        .esp2 {
                            img {
                                height: 35rem;
                            }
                        }
                    }
                }
            }
        }

        /*================= tablet screen================*/
        @media only screen and (min-width: 768px) and (max-width: 1000px) {
            body {
                font-size: 1.6rem;
            }

            h1 {
                font-size: 3.6rem;
            }

            h2 {
                font-size: 3rem;
            }
            h5{
                font-size: 2.5rem;
            }

            a {
                font-size: 1.5rem;
            }
            .navmenue-ul {
                top: 6rem;
            }
            // header section
            #header {
                background-image: none;
               
                .header-text {
                    margin: $margin-m;

                    .header-text-flex {
                        display: flex;
                        flex-direction: column;
                        h5{
                            margin: 0 auto;
                        }

                        h1 {
                            font-size: 5rem;
                            width: 75vw;
                            max-width: 75rem;
                            padding-bottom: 2rem;
                            text-align: center;

                            br {
                                display: none;
                            }
                        }

                        p {
                            max-width: 50rem;
                            text-align: center;
                            margin-bottom: 2rem;
                        }
                    }

                    .cta {
                        margin: 0 auto;
                        z-index: 2;
                        position: relative;
                    }

                    .mobile-img {
                        display: block;

                        img {
                            max-width: 28.5rem;
                            height: 100%;
                            margin: 0 auto;
                            position: relative;
                            top: 1rem;
                            z-index: 1;
                        }
                    }

                    .exp-header {
                        position: relative;
                        bottom: 35rem;
                        z-index: 3;

                        .skillsimg {
                            img {
                                width: 6rem;
                            }
                        }
                    }
                }

            }

            // about section
            #about {
                .about-sec {
                    margin: 10rem 10rem;
                    flex-direction: column;

                    .special {
                        order: 2;

                        a {

                            display: inline-block;

                            .about-specials {
                                width: 70vw;
                                gap: 3rem;
                            }

                        }
                    }

                }
            }

            // Experience section
            #experience {
                .experience-sec {
                    margin: $margin-sec-landscape;

                    h2 {
                        text-align: left;
                        margin-left: 1rem;
                    }
                    h5{
                        margin: 0 0 0 1rem;
                    }

                    .experence-list {
                        grid-template-columns: 1fr;

                        .esp1 {
                            display: none;
                        }

                        .esp2 {
                            img {
                                height: 45rem;
                            }
                        }
                    }
                }
            }

            // project section
            .portfolio-sec {
                padding: $margin-sec-landscape;



                h3 {
                    font-size: 1.6rem
                }
            }

            // review section
            .review-sec {
                padding: $margin-sec-landscape;

                .review-header {
                    p {
                        width: 60vw;
                        margin: 2rem auto;
                    }

                }

                .mySwiperJerry {

                    .next,
                    .prev {
                       display: none;
                    }
                }
            }

            // footer section
            #contact {
                padding: $margin-sec-landscape;

            }
        }

        // mobile screen
        @media only screen and (min-width: 300px) and (max-width: 600px) {

            body,
            p {
                font-size: 1.6rem;
            }

            h1 {
                font-size: 3.4rem;
            }

            h2 {
                font-size: 2.8rem;
            }

            h3 {
                font-size: 1.8rem
            }
            h5{
                font-size: 2rem;
                margin-top: 2rem;
                padding-inline:0 1rem ;
            }

            a {
                font-size: 1.4rem;
            }

            // header section
            #header {
                background-image: none;
                .header-sec{
                    padding: $margin-s;
                }
                .header-text {
                    margin: $margin-s;

                    .header-text-flex {
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        align-items: flex-start;
                        h1 {
                            font-size: 4rem;
                            width: 75vw;
                           
                            padding-bottom: 2rem;

                        }

                        p {
                            max-width: 75vw;

                            margin-bottom: 2rem;
                        }
                    }

                    .cta {

                        z-index: 2;
                        position: relative;
                        top: -2rem;
                        transform: translateY(600%);
                        margin : 0 auto;
                        backdrop-filter: blur(16px) saturate(180%);
                        -webkit-backdrop-filter: blur(16px) saturate(180%);
                        background-color: rgba(17, 25, 40, 0.926);

                    }

                    .mobile-img {
                        display: block;
                        img {
                            max-width: 27rem;
                            height: 100%;
                            margin: 0 auto;
                            position: relative;
                            top: -2.2rem;
                          
                            z-index: 1;
                        }
                    }

                    .exp-header {
                        display: none;
                    }
                }

            }

            // about section
            #about {
                .about-sec {
                    margin: 3rem 5rem;
                    flex-direction: column;

                    .special {
                        order: 2;
                        position: relative;
                        top: -3rem;
                        a {
                            display: inline-block;

                            .about-specials {
                                width: 70vw;
                               
                            }

                        }
                    }

                }
            }

            // Experience section
            #experience {
                .experience-sec {
                    margin: $margin-s;
                    h5{
                        margin: 0 0 0 1rem;
                    }
                    h2 {
                        text-align: left;
                        margin-left: 1rem;
                    }

                    .experence-list {
                        grid-template-columns: 1fr;

                        .esp1 {
                            display: none;
                        }

                        .esp2 {
                            img {
                                height: 50rem;

                            }
                        }
                    }
                }
            }

            // project section
            .portfolio-sec {
                padding: $margin-s;
                h2 {
                    text-align: left;
                }
                h5{
                    margin: 0;
                }
                h3 {
                    font-size: 1.6rem
                }
                .container-portfolio {
                    .row-project {
                        .project-filter{
                            text-align: left;
                            padding: 1.5rem 0;
                            margin-bottom: 2rem;
                            
                        }
                        .grid-projects {
                            grid-template-columns:  1fr;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }

             // review section
             .review-sec {
                padding: $margin-s;

                .review-header {
                    h2{
                        text-align: left;
                    }
                    h5{
                        margin: 0;
                    }
                    p {
                        width: 78vw;
                        text-align: left;
                        margin-bottom: 0;

                    }

                }

                .mySwiperJerry {

                    .next,
                    .prev {
                      display: none;
                    }
                }
            }
             // footer section
             #contact {
                padding: $margin-s;
               .footer-sec {

                grid-template-columns: 1fr;
                .footer-socials{
                    margin-top: 2rem;
                    justify-self: flex-start;
                }
               }

               .copyright{
                .copy{
                    flex-direction: column;
                    .logo{
                        display: flex;
                        justify-content: space-between;
                    align-items: center;
                    gap: 2rem;
                    
                       
                    }
                    .dev {
                        a{
                            @include link2;
                            &:hover{
                                opacity:0.5;
                            }
                        }
                    }
                }
            }

            }
        }