/*
  1. Use a more-intuitive box-sizing model.
*/

@use '../sass/_color-text-mixins.scss'as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}


/*
    2. Remove default margin
  */

* {
  margin: 0;
}


/*
    3. Allow percentage-based heights in the application
  */

html,
body {
  height: 100%;
}


/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


/*
    6. Improve media defaults
  */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


/*
    7. Remove built-in form typography styles
  */

input,
button,
textarea,
select {
  font: inherit;
}


/*
    8. Avoid text overflows
  */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/*
    9. Create a root stacking context
  */

#root,
#__next {
  isolation: isolate;
}

// =========================general styles start====================/
body,
html {
  font-family: 'MyFont2', sans-serif;
  // font-family: 'Sacramento', cursive;
  font-size: 10px;
  color: $clr-paragraph;
  background-color: $bg-body;
  // overflow-x: hidden;
  position: relative;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MyFont';
  src: url('../font/BOGARTMEDIUMTRIAL.TTF');
}

@font-face {
  font-family: 'MyFont2';
  src: url('../font/Biotif-Regular.ttf');
}

@font-face {
  font-family: 'MyFont3';
  src: url('../font/Biotif-LightItalic.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-text;
  font-family: 'MyFont', sans-serif;
}

p {
  font-size: 1.8rem
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.1rem
}

h5 {
  font-size: 2rem;
  font-family: 'Myfont3', cursive;
  color: $clr-paragraph2;
  width: fit-content
}

small {
  font-size: 1.2rem;
}

a,
ul {
  list-style: none;
  text-decoration: none;
  color: $header-text;
  font-size: 1.6rem;
}

span {
  color: $clr-paragraph2;
}