@use '../sass/_color-text-mixins.scss'as *;

.review-sec {
    padding: $margin-sec;
    background-color: $bg-sec-color;
    text-align: center;
    width: 100%;
    @include center ();

    .review-header {
        h5{
            margin: 0 auto;
        
    }
        p {
            width: 40vw;
            margin: 2rem auto;
        }
    }

    .mySwiperJerry {
        width: 100%;
        margin: 0rem 2rem 0rem 2rem;

        .review-container {

            margin-block: 7rem;

            .slider-review {
                margin-top: 3rem;
                padding-inline: 2rem;
                border-radius: 1rem;
                max-height: 20rem;
                background-color: $bg-body;
                transition: all 0.5s ease;
                img {
                    position: relative;
                    display: block;
                    top: -3rem;
                    object-fit: cover;
                    width: 6rem;
                    aspect-ratio: 1 / 1;
                    margin: 0 auto;
                    clip-path: circle();
                }
                &:hover {
                    transform: translateY(-4rem)
                }
            }

            .swiper-text {
                position: relative;
                top: -1.5rem;

                p {
                    font-size: 1.4rem;
                }

                hr {
                    margin-block: 1.5rem;
                    border-bottom: 0;
                    border-color: rgba(142, 141, 141, 0.249);
                }

                small {
                    font-size: 1rem;
                   
                }
            }
        }

        .next,
        .prev {
            // position: absolute;
            top: 90%;
            width: 950px;
            margin-inline: 1rem;

            i {
                background-color: $bg-body;
                color: $header-text;
                padding: 1rem;
                border-radius: 50%;
                width: 5rem;
                display:grid;
                place-items: center;
                height: 5rem;
                @include box-l();
                &:hover {
                    background-color: $clr-paragraph2;
                    color: white;
                }
            }
        }
    }
}