@use '../sass/_color-text-mixins.scss'as *;

.portfolio-sec {
    padding: $margin-sec;
    background-color: $bg-sec-color;

    h5 {
        margin: 0 auto;

    }

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .container-portfolio {
        .row-project {
            .project-filter {
                padding-inline: 1.5rem;
                width: 100%;
                text-align: center;
                margin-bottom: 3rem;

                .filter-item {
                    color: $white;
                    font-size: 1.5rem;
                    display: inline-block;
                    margin-bottom: 1rem;
                    background-color: $bg-body;
                    border-radius: 2rem;
                    cursor: pointer;
                    padding: 1rem 2rem;
                    transition: all 0.3s ease;

                    &.active {
                        color: $white;
                        background-color: $clr-paragraph2;
                    }

                }
            }

            .grid-projects {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 3rem;

                img {
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 1 / 1;
                    cursor: pointer;
                }

                .project-h3 {
                    padding: 2rem 1rem;

                    p {
                        img {
                            &:hover {
                                filter: grayscale(1);
                                transition: all 0.3s ease;
                            }
                        }

                        padding-top: .5rem;

                        a {
                            display: flex;
                            align-items: center;
                            color: $clr-paragraph2;

                            i {
                                padding-left: 1rem;
                                animation: icon ease-in-out 1.5s infinite alternate;
                            }

                            @keyframes icon {
                                from {
                                    transform: translateX(-5px);
                                }

                                to {
                                    transform: translateX(0)
                                }
                            }
                        }
                    }
                }

                .project-item {
                    @include box-l();
                    background-color: $bg-body;
                    padding: 1rem;
                    border-radius: 1rem;

                    &.show {
                        animation: fadeIn 0.5s ease;
                    }

                    &.hide {
                        display: none;
                    }

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                        }

                        to {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

}

/*================= modal section==================*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.799);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow-x: hidden;
    transform: scale(1.1);

    z-index: 102;

    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    animation-name: animatePortfolio;

    p {
        padding-block: .5rem;

        i {
            padding-right: 1rem;
            color: $clr-paragraph2;
            animation: modalIcon 5s ease-out infinite alternate;
        }

        /* animation part */
        @keyframes modalIcon {
            from {

                opacity: 0.5;
            }

            to {

                opacity: 1;
            }
        }
    }

    .modal-content {
        align-self: center;
        background-color: $bg-body;
        padding: 2rem;
        width: max(45vw, 35rem);
        border-radius: 0.5rem;
    }


}

.modal-contact {
    margin-top: 5rem;
    text-align: center;



    .contactMe {
        width: max(20vw, 35rem);


        div {
            padding: 1rem .5rem;
            position: relative;

            margin: 0 auto;

            label {
                text-align: left;
                display: flex;
                align-items: flex-start;

                margin-left: 4rem;
                position: absolute;
                opacity: 1;
                transition: .2s bottom, .2s opacity;
                bottom: 1.5rem;
                left: 0;
                z-index: 1;

            }


        }

        input,
        textarea {
            border: none;
            border-bottom: 1px solid $header-text;
            outline: none;
            color: whitesmoke;
            background-color: $bg-body;
            width: 80%;
            resize: none;
            font-family: inherit;
            padding: 1rem;
            z-index: 3;
            position: relative;
            margin-top: 1rem;

        }

        input:focus:invalid,
        textarea:focus:invalid {
            border-color: $clr-paragraph2;

        }

    }


    input:focus~label,
    textarea:focus~label {
        bottom: 75%;
        line-height: 1;
        opacity: 1;
        padding: 4px;
        margin-left: 4rem;

    }

    textarea:focus~label {
        bottom: 82%;
    }

    button {
        width: 50%;
        background-color: $clr-paragraph2;
        color: whitesmoke;
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
    }
}


.btn-close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;

    &:hover {
        background-color: $clr-paragraph2;
        color: white;
    }

}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    animation-duration: 0.4s;
}


/* animation part */
@keyframes animatePortfolio {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}